<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/login.css" th:href="@{/login.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<title>Đăng ký tài khoản - Gem Realty</title>
<link rel="stylesheet" href="/assets/css/loading.css">
<style>
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 0;
  height: 400px;
  text-align: center;
}

label{
  color: #555 !important;
}
</style>
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <div class="container">
        <div class="col-sm-8 ml-auto mr-auto">
          <div class="col-sm-12 shadow rounded pt-2">
            <h1 style="color: #fff;">Gem Realty</h1>
            <form style="padding: 0px;" method="post" id="singnupFrom" onsubmit="return onSave(event)">
              <div class="form-group">
                <input type="email" name="mail" id="signupemail" class="form-control"
                  placeholder="Địa chỉ email" required>
                <div class="text-danger">
                  <em class="validate" id="validate_signupemail"></em>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="name" id="signupusername" class="form-control"
                  placeholder="Tên người dùng" required>
                <div class="text-danger">
                  <em class="validate" id="validate_signupusername"></em>
                </div>
              </div>
              <div class="form-group">
                <div class="text-danger">
                  <em class="validate" id="validate_signupphone"></em>
                </div>
              </div>
              <div class="form-group">
                <input type="password" name="pass" id="signuppassword" class="form-control"
                  placeholder="***********" pattern="^\S{6,}$" required>
                <div class="text-danger">
                  <em class="validate" id="validate_signuppassword"></em>
                </div>
              </div>
              <div class="form-group">
                <input type="password" name="repass" id="signupcpassword" class="form-control"
                  pattern="^\S{6,}$" placeholder="***********" required>
                <div class="text-danger">
                  <em class="validate" id="validate_signupcpassword"></em>
                </div>
              </div>
              <div class="form-group">
                <label><input type="checkbox" name="signupcondition" id="signupcondition"
                  required> Tôi đồng ý với <a href="javascript:;">Điều khoản &amp; Điều
                    kiện</a> đăng ký.</label>
              </div>
              <div class="form-group">
                <input style="color: green; background: #fff; border: none;" type="submit" name="signupsubmit" value="Xác nhận đăng ký"
                  class="btn btn-block btn-primary">
              </div>
              <div class="text-center">
                <p>
                  <a style="color: #fff;" href="/">Quay lại trang chủ</a>
                </p>
              </div>
            </form>
          </div>
        </div>
        <ul class="bg-bubbles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <div id="ladding_layer_id" style="display: none;" class="loading">Loading&#8230;</div>
      </div>
    </div>
    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script>
      function onSave(e) {
        e.preventDefault();
        var r = confirm("Gửi thông tin đã nhập?");
        if (r == false) {
          return;
        }
        var data = {
          signupusername : $("#signupusername").val(),
          signupemail : $("#signupemail").val(),
          signupphone : $("#signupphone").val(),
          signuppassword : $("#signuppassword").val(),
          signupcpassword : $("#signupcpassword").val(),
        }

        $(".validate").empty();
        var updateId = $("#indexUpdate").val();

        save(data);
      }

      function save(data) {
        $("#ladding_layer_id").show();

        ajaxRequest("/regist-save", "POST", JSON.stringify(data), function(response) {
          setTimeout(function() {
            $("#ladding_layer_id").hide();
          }, 1000);

          if (response.status == true) {
            alert("Đăng kí thành công!")
            window.location.href = "/login";
            return;
          }

          // display error
          for ( const key in response.data) {
            $("#" + key).append(response.data[key]);
          }
        });
      }

      function ajaxRequest(url, method, data, calBackFuntion) {
        var config = {
          method : method,
          url : url,
          context : document.body,
        };

        if (data) {
          config.data = data;
          config.contentType = "application/json; charset=utf-8";
        }

        $.ajax(config).done(function(data) {
          calBackFuntion(data);
        });
      }
    </script>
</body>
</html>