<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layouts/user/main-layout::main-fragment(  
                ~{::title},
                ~{:: #products-static-resources},
                ~{:: #products-main-content},  
                ~{:: #resources-footer},
               )}">
<head>
<title>Tìm kiếm bất động sản</title>
<th:block id="products-static-resources">
  <link rel="stylesheet" href="/list-pickup/virtual-select.min.css">
  <link rel="stylesheet" href="/assets/css/loading.css">
  <script src="assets/js/search.html.js" type="text/javascript"></script>
  <style>
.col-1-5 { @extend .extra-col;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.container-condition {
  padding-right: 3%;
  padding-left: 3%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#main_nav {
  box-shadow: 1px 1px 5px #ddd !important;
}
</style>
</th:block>
</head>
<body>
  <th:block id="products-main-content">
    <div id="search_condition_id">
      <div id="fixed_condition">
        <div class="container-condition">
          <div class="row">
            <div class="col-1-5" style="border-right: solid 1px #ddd">
              <div style="padding: 2px 0 0 9px; margin: 0;" class="title_fixed_condition trucncate_inline">Hình thức</div>
              <div id="selectbox_hinhthuc_id" class="box_selected"></div>
            </div>
            <div class="col-1-5" style="border-right: solid 1px #ddd">
              <div style="padding: 2px 0 0 9px; margin: 0;" class="title_fixed_condition trucncate_inline">Loại hình BDS</div>
              <div id="selectbox_category_id" class="box_selected"></div>
            </div>
            <div class="col-1-5" style="border-right: solid 1px #ddd">
              <div style="padding: 2px 0 0 9px; margin: 0;" class="title_fixed_condition trucncate_inline">Địa điểm</div>
              <div style="position: relative;">
                <input onclick="showAdressPopup($(this))" id="input_popup_tab" placeholder="Tất cả" class="form-select custom_input_id_condition close_popup_check" type="text"></input>
                <div class="popup_tab_block" style="width: 400px; display: none;">
                  <ul class="nav nav-tabs pop_up_tab">
                    <li class="nav-item" role="presentation"><span class="tab_popup_title nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#province" type="button" role="tab"
                      aria-controls="province" aria-selected="true">Tỉnh/Thành phố</span></li>
                    <li class="nav-item" role="presentation"><span class="tab_popup_title nav-link" id="district-tab-head" data-bs-toggle="tab" data-bs-target="#district" type="button" role="tab"
                      aria-controls="district" aria-selected="false">Quận/Huyện</span></li>
                    <li class="nav-item" role="presentation"><span class="tab_popup_title nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#ward" type="button" role="tab"
                      aria-controls="ward" aria-selected="false">Phường/Xã</span></li>
                    <li class="nav-item" role="presentation"><span class="tab_popup_title nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#street" type="button" role="tab"
                      aria-controls="street" aria-selected="false">Đường/Phố</span></li>
                  </ul>
                  <div class="tab-content" id="tab_content" style="padding: 0; margin: 0; margin-left: 10px;">
                    <div id="province" class="tab-pane fade show active" role="tabpanel" aria-labelledby="province-tab" style="padding-top: 10px;">
                      <div class="vscomp-search-wrapper">
                        <div class="vscomp-search-container">
                          <input oninput="searchProvince()" id="province_search_input_id" type="text" class="vscomp-search-input" placeholder="Tìm kiếm...">
                        </div>
                      </div>
                      <div class="tab_id" style="margin-top: 10px;" id="province_tab_id"></div>
                    </div>
                    <div class="tab-pane fade" id=district role="tabpanel" aria-labelledby="district-tab">
                      <div class="vscomp-search-wrapper">
                        <div class="vscomp-search-container">
                          <input oninput="searchDistrict()" id="district_search_input_id" type="text" class="vscomp-search-input" placeholder="Tìm kiếm...">
                        </div>
                      </div>
                      <div class="tab_id" style="margin-top: 10px;" id="district_tab_id"></div>
                    </div>
                    <div class="tab-pane fade" id="ward" role="tabpanel" aria-labelledby="ward-tab">
                      <div class="vscomp-search-wrapper">
                        <div class="vscomp-search-container">
                          <input oninput="searchWard()" id="ward_search_input_id" type="text" class="vscomp-search-input" placeholder="Tìm kiếm...">
                        </div>
                      </div>
                      <div class="tab_id" style="margin-top: 10px;" id="ward_tab_id"></div>
                    </div>
                    <div class="tab-pane fade" id="street" role="tabpanel" aria-labelledby="street-tab">
                      <div class="vscomp-search-wrapper">
                        <div class="vscomp-search-container">
                          <input oninput="searchStreet()" id="street_search_input_id" type="text" class="vscomp-search-input" placeholder="Tìm kiếm...">
                        </div>
                      </div>
                      <div class="tab_id" style="margin-top: 10px;" id="street_tab_id"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-1-5" style="border-right: solid 1px #ddd">
              <div style="padding: 2px 0 0 9px; margin: 0;" class="title_fixed_condition trucncate_inline">Dự án</div>
              <div id="selectbox_project_id" class="box_selected trucncate_inline fix_display_center">Chọn địa điểm trước</div>
            </div>
            <div class="col-1-5" style="border-right: solid 1px #ddd">
              <div style="padding: 2px 0 0 9px; margin: 0;" class="title_fixed_condition trucncate_inline">Mức giá</div>
              <div id="selectbox_price_id" class="box_selected"></div>
            </div>
            <div class="col-1-5" style="border-right: solid 1px #ddd">
              <div style="padding: 2px 0 0 9px; margin: 0;" class="title_fixed_condition trucncate_inline">Diện tích</div>
              <div id="selectbox_dientich_id" class="box_selected"></div>
            </div>
            <div class="col-md-1" style="border-right: solid 1px #ddd">
              <div style="padding: 2px 0 0 9px; margin: 0;" class="title_fixed_condition"></div>
              <div style="position: relative;">
                <span class="title_fixed_condition trucncate_inline close_popup_check" onclick="showAdressPopup($(this))"
                  style="height: 48px; display: block; line-height: 60px; margin-top: 15px; font-size: 13px;"><i class="bx bx-filter"></i> Lọc thêm</span>
                <div class="popup_tab_block" style="width: 250px; height: 400px; display: none;">
                  <div style="padding: 5px;">
                    <label style="color: #333; margin-bottom: 5px;">Mặt tiền</label>
                    <div style="border: solid 1px #ddd; width: 100%; border-radius: 10px" id="selectbox_font-width_id" class="box_selected"></div>
                  </div>
                  <div style="padding: 5px;">
                    <label style="color: #333; margin-bottom: 5px;">Số tầng</label>
                    <div style="border: solid 1px #ddd; width: 100%; border-radius: 10px" id="selectbox_floor_id" class="box_selected"></div>
                  </div>
                  <div style="padding: 5px;">
                    <label style="color: #333; margin-bottom: 5px;">Số phòng ngủ</label>
                    <div style="border: solid 1px #ddd; width: 100%; border-radius: 10px" id="selectbox_room_id" class="box_selected"></div>
                  </div>
                  <div style="padding: 5px;">
                    <label style="color: #333; margin-bottom: 5px;">Đường rộng</label>
                    <div style="border: solid 1px #ddd; width: 100%; border-radius: 10px" id="selectbox_way_id" class="box_selected"></div>
                  </div>
                </div>
                <span style="position: absolute; top: 5px; font-size: 10px; color: red; padding-left: 15px;" id="count_fillter_id"></span>
              </div>
            </div>
            <div class="col-md-2">
              <div style="padding: 2px 0 0 9px; margin: 0;" class="title_fixed_condition trucncate_inline">Sắp xếp</div>
              <div id="selectbox_sort" class="box_selected"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- Content search -->
      <div id="search_content_id">
        <div class="row">
          <div class="col-md-3">
            <h2 style="margin-bottom: 10px;" class="worksingle-heading h3 pb-3 light-300 typo-space-line">Loại nhà đất</h2>
            <div class="mini_show">
              <div th:each="item: ${categorys}" class="form-check">
                <input name="category_checkbox_name" class="form-check-input" type="checkbox" th:value="${item.getKey()}" id="categorys"> <label th:text="${item.getValue()}"
                  class="form-check-label title_category_list" for="flexCheckDefault"></label>
              </div>
              <div style="position: absolute; bottom: -5px;" class="seemore-left-block">
                <div onclick="categoryOnShowMore($(this))" class="btn-custom btn-seemor" id="category_pickup_id" data-key="typeOfHouse-type">Hiển thị tất cả</div>
              </div>
            </div>
            <h2 style="margin-bottom: 10px; margin-top: 20px;" class="worksingle-heading h3 pb-3 light-300 typo-space-line">Tỉnh thành</h2>
            <div class="mini_show">
              <div th:each="item: ${provinces}" class="form-check">
                <input name="province_checkbox_name" class="form-check-input" type="checkbox" th:value="${item.getKey()}" id="categorys"> <label th:text="${item.getValue()}"
                  class="form-check-label title_category_list" for="flexCheckDefault"></label>
              </div>
              <div style="position: absolute; bottom: -5px;" class="seemore-left-block">
                <div id="tesst_new" onclick="categoryOnShowMore($(this))" class="btn-custom btn-seemor" data-key="typeOfHouse-type">Hiển thị tất cả</div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="sort_search" style="border-bottom: solid 1px #ddd">
              <div class="row">
                <div class="col-md-6">
                  <div id="count_result_id" style="margin-top: 15px;">Nhấn "Tìm kiếm" để lấy kết quả.</div>
                </div>
                <div class="col-md-4">
                  <div class="vscomp-search-wrapper">
                    <div class="vscomp-search-container">
                      <input oninput="searchProvince()" id="keyword_id" type="text" class="vscomp-search-input" placeholder="Bạn muốn tìm gì...">
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <button style="margin-bottom: 15px;" onclick="makeUrlFromForm()" type="button" class="btn btn-outline-primary">Tìm kiếm</button>
                </div>
              </div>
            </div>
            <div id="content_search_result" style="margin-top: 5px;">
              <div class="row"></div>
              <div id="ladding_layer_id" style="display: none;" class="loading">Loading&#8230;</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>
  <th:block id="resources-footer">
    <script src="/list-pickup/virtual-select.min.js"></script>
    <script src="/assets/js/mustache.min.js"></script>
    <script id="province-template" type="x-tmpl-mustache">
        <div class="form-check province_fillter">
          <input class="form-check-input" type="radio" name="province_checkbox" value="{{value}}" id="province_checkbox_{{value}}" onchange="onChangeProvince()">
		  <label class="form-check-label title_category_list" for="province_checkbox_{{value}}">
          {{label}}
          </label>
        </div>
    </script>
    <script id="district-template" type="x-tmpl-mustache">
        <div class="form-check district_fillter">
          <input class="form-check-input" type="checkbox" name="district_checkbox" value="{{value}}" id="district_checkbox_{{value}}" onchange="onChangeDistrict()">
		  <label class="form-check-label title_category_list" for="district_checkbox_{{value}}">
          {{label}}
          </label>
        </div>
    </script>
    <script id="ward-template" type="x-tmpl-mustache">
        <div class="form-check ward_fillter">
          <input class="form-check-input" type="checkbox" name="ward_checkbox" value="{{value}}" id="ward_checkbox_{{value}}">
		  <label class="form-check-label title_category_list" for="ward_checkbox_{{value}}">
          {{label}}
          </label>
        </div>
    </script>
    <script id="street-template" type="x-tmpl-mustache">
        <div class="form-check street_fillter">
          <input class="form-check-input" type="checkbox" name="street_checkbox" value="{{value}}" id="street_checkbox_{{value}}">
		  <label class="form-check-label title_category_list" for="street_checkbox_{{value}}">
          {{label}}
          </label>
        </div>
    </script>
    <script id="post-result-template" type="x-tmpl-mustache">
		<div class="col-xs-12 col-sm-4">
			<div style="height: 350px; border-radius: 15px;" class="card">
			  <a class="img-card" href="{{urlPost}}"> <img src="{{thumnail}}">
			  </a>
			  <div class="card-content">
			    <h5 class="card-title" style="font-size: 0.8rem;">
					<a data-bs-toggle="tooltip" data-bs-placement="top" title="{{title}}" class="trunc_string"
					style="font-weight: bold; color: #333; line-height: 1.5; text-transform: uppercase;"
					href="{{urlPost}}">{{title}}</a>
				</h5>
                <div style="padding: 3px 0; margin-top: 3px; font-size: 1.5rem">
                    <small data-bs-toggle="tooltip" data-bs-placement="top" 
						class="category-info-location">&#128500; {{categoryId}}</small>
                </div>
				<div style="padding: 6px 0; margin: 0px;">
				    <small data-bs-toggle="tooltip" data-bs-placement="top"
				      title="{{address}}" class="article-info-location">&#128500; {{address}}</small>
				</div>
				<small class="article-price">&#128500; {{description}}</small>
                <div class="category_card_show2">
                    <label>{{formality}}</label>
                </div>
				<div style="position: absolute; top: 7px; right: 10px; cursor: pointer;">
				  <i th-data="{{urlPost}}" onclick="onSavePost($(this), '{{title}}', '{{urlPost}}', '{{thumnail}}', '{{description}}', '{{address}}', '{{formality}}', '{{categoryId}}', {{newsId}});" class="checked_like liked_{{newsId}} bx bx-bell bx-sm bx-heart text-danger"></i>
				</div>
			  </div>
			</div>
		</div>
    </script>
    <script>
          $(document).ready(function() {
            init();
            initSelectBox();
            pickupFromUrl();
          });
        </script>
  </th:block>
</body>
</html>