<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/admin/main-layout::main-fragment(  
                ~{::title},
                ~{:: #products-static-resources},
                ~{:: #home-nav},
                ~{:: #products-main-content},  
                ~{:: #resources-footer},
               )}">

<head>
<title>Danh mục bất động sản</title>
<th:block id="products-static-resources"></th:block>
</head>
<body>
	<nav id="home-nav">
		<div class="nav-wrapper indigo darken-2">
			<a style="margin-left: 20px;" class="breadcrumb" href="#!">Admin</a>
			<a class="breadcrumb" href="#">Danh mục</a>
			<div style="margin-right: 20px;" id="timestamp" class="right"></div>
		</div>
	</nav>
	<div id="products-main-content">
		<div class="ad-container">
			<!-- Open modal -->
			<a id="add_new" class="waves-effect waves-light btn modal-trigger"
				href="#modal1"><i class="material-icons right">add</i>Thêm mới</a>
			<table class="striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Tên danh mục</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody id="content_data" style="transition: all 0.5s ease-in-out;">
				</tbody>
			</table>

			<div style="text-align: center; margin-top: 5px;">
				<hr style="color: #ddd" />
				<button id="loadmoreitem" class="btn waves-effect orange"
					type="submit" name="action" onclick="loadData(null)">Tải thêm</button>
			</div>
		</div>

		<!-- Form add new category -->
		<div id="modal1" class="modal">
			<div class="modal-content" style="padding-bottom: 0px">
				<div class="row" style="margin-bottom: 0px">
					<form class="col s12">
						<div class="row">
							<h3 id="title_modal">Thêm mới</h3>
							<input id="indexUpdate" type="hidden" />
							<div class="row">
								<div class="input-field col s12">
									<input id="name" type="text" autofocus /><label for="password">Tên</label>
									<small class="validate" style="color: red;" id="validate_name"></small>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<a id="confirm_save" href="#"
					class="waves-effect waves-green btn-flat">Đồng ý</a> <a href="#" onclick="onCloseModal()"
					class="modal-close waves-effect waves-green btn-flat">Đóng</a>
			</div>
		</div>

		<!-- keep page number for load more item -->
		<input id="page" type="hidden" value="1" />
	</div>

	<th:block id="resources-footer">
		<script id="my-template" type="x-tmpl-mustache">
			<tr id="content_id_{{categoryId}}">
				<td>{{categoryId}}</td>
				<td>{{categoryName}}</td>
				<td>
					<a href="#" onclick="onUpdate($(this));">Chỉnh sửa</a> | 
					<a href="#" onclick="onDelete($(this), '{{categoryId}}', '{{categoryName}}');">Xóa</a>
				</td>
			</tr>
		</script>
		<script>
			let tmpl = $('#my-template').html();
			Mustache.parse(tmpl);
		
			$(document).ready(function() {
				var modal = $('#modal1').modal();
				$('select').material_select();
				loadData(0);

				// open modal
				$("#add_new").click(function() {
					$("#title_modal").html("Thêm mới");
				});

				// Add item
				$("#confirm_save").click(function(){
					var data = {
						categoryName: $("#name").val(),
						categoryIdParent: $("select").val()
					}

					$(".validate").empty();
					var updateId = $("#indexUpdate").val();
					
					if (updateId && updateId.length > 0) {
						update(data, updateId);
					} else {
						save(data);
					}
				});
			});
			
			function loadData(page) {
				// load data
				if (page == null) {
					page = $("#page").val();
				}

				ajaxRequest("./category/get/" + page, "GET", null, function(data) {
				    data.forEach((item) => {
				        let rendered = Mustache.render(tmpl, item);
				        $("#content_data").append(rendered);
				    });

				    $("#page").val(parseInt(page) + 1);
				});	
			}

			function onDelete(obj, key, name) {
				var r = confirm("Xác nhận xóa [" + name + "]");

				if (r == true) {
					ajaxRequest("./category/delete/" + key, "POST", null, function(data) {
						obj.parents("tr").remove();
					});
				}
			}
			
			function onUpdate(obj){
				var id = obj.parents("tr").find("td")[0].textContent;
				$("#title_modal").html("Cập nhật");
				
				ajaxRequest("./category/get/one/" + id, "GET", null, function(data) {
					// set value into form
					$("#indexUpdate").val(id);
					$("#name").val(data.categoryName);
					$('#modal1').modal('open');
				});
			}
			
			function save(data) {
				ajaxRequest("./category/save", "POST", JSON.stringify(data), function(response) {
					if (response.status == true) {
						onCloseModal();

						var item = response.data;
				        let rendered = Mustache.render(tmpl, item);

				        $("#content_data").prepend(rendered);
						$('#modal1').modal('close');

						return;
					}

					// display error
					for (const key in response.data) {
						$("#" + key).append(response.data[key]);
					}
				});
			}

			function update(data, id) {
				ajaxRequest("./category/update/" + id, "POST", JSON.stringify(data), function(response) {
					if (response.status == true) {
						var item = response.data;
				    	
				    	var row = $("#content_id_" + item.categoryId);
				    	row.find("td").eq(1).html(item.categoryName);
				    	row.find("td").eq(2).html(item.price);
				    	
						$('#modal1').modal('close');
						return;
					}

					// display error
					for (const key in response.data) {
						$("#" + key).append(response.data[key]);
					}
				});
			}

			function ajaxRequest(url, method, data, calBackFuntion) {
				var config = {
					method : method,
					url : url,
					context : document.body,
				};

				if (data) {
					config.data = data;
					config.contentType = "application/json; charset=utf-8";
				}

				$.ajax(config).done(function(data) {
					calBackFuntion(data);
				});
			}

			function onCloseModal() {
				$("input").val("");
			}
		</script>
	</th:block>
</body>
</html>