<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="main-fragment (title, otherStaticResources, nav, mainContent, resourceFooter)">
<head>
<title th:replace="${title}">Page 1 Title</title>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

<style type="text/css">
header, main, footer {
	padding-left: 240px;
}

body {
	background: white;
}

@media only screen and (max-width: 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

#credits li, #credits li a {
	color: white;
}

#credits li a {
	font-weight: bold;
}

.footer-copyright .container, .footer-copyright .container a {
	color: #BCC2E2;
}

.fab-tip {
	position: fixed;
	right: 85px;
	padding: 0px 0.5rem;
	text-align: right;
	background-color: #323232;
	border-radius: 2px;
	color: #FFF;
	width: auto;
}

.ad-container {
	padding: 10px 20px;
}
</style>
<th:block th:replace="${otherStaticResources} ?: ~{}"></th:block>
</head>
<body>
	<ul id="slide-out" class="side-nav fixed z-depth-2">
		<li class="center no-padding">
			<div class="indigo darken-2 white-text" style="height: 180px;">
				<div class="row">
					<img style="margin-top: 5%;" width="100" height="100"
						src="/image/default_avt.png" class="circle responsive-img" />

					<p style="margin-top: -13%;">Thùy Trang</p>
				</div>
			</div>
		</li>

		<li id="dash_dashboard"><a class="waves-effect" href="/admin"><b>Dashboard</b></a></li>

		<ul class="collapsible" data-collapsible="accordion">
			<li id="dash_users">
				<div id="dash_users_header" class="collapsible-header waves-effect">
					<b>Quản lý</b>
				</div>
				<div id="dash_users_body" class="collapsible-body">
					<ul>
						<li id="users_seller"><a class="waves-effect"
							style="text-decoration: none;" href="/admin/category">Danh
								mục tin</a></li>

						<li id="users_customer"><a class="waves-effect"
							style="text-decoration: none;" href="/admin/customer">Người
								dùng</a></li>
					</ul>
				</div>
			</li>

			<li id="dash_categories">
				<div id="dash_categories_header"
					class="collapsible-header waves-effect">
					<b>Tin</b>
				</div>
				<div id="dash_categories_body" class="collapsible-body">
					<ul>
						<li id="categories_category"><a class="waves-effect"
							style="text-decoration: none;" href="#!">Danh sách tin</a></li>

						<li id="categories_sub_category"><a class="waves-effect"
							style="text-decoration: none;" href="#!">Duyệt tin</a></li>
					</ul>
				</div>
			</li>

			<li id="dash_analytis">
				<div id="dash_categories_header"
					class="collapsible-header waves-effect">
					<b>Thống kê</b>
				</div>
				<div id="dash_categories_body" class="collapsible-body">
					<ul>
						<li id="categories_category"><a class="waves-effect"
							style="text-decoration: none;" href="#!">Tin</a></li>

						<li id="categories_sub_category"><a class="waves-effect"
							style="text-decoration: none;" href="#!">Doanh thu</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</ul>

	<header>
		<ul class="dropdown-content" id="user_dropdown">
			<li><a class="indigo-text" href="#!">Thông tin cá nhân</a></li>
			<li><a class="indigo-text" href="/logout">Đăng xuất</a></li>
		</ul>

		<nav class="indigo" role="navigation">
			<div style="margin-left: 10px;" class="nav-wrapper">
				<a data-activates="slide-out" class="button-collapse show-on-large"
					href="#!"><img style="margin-top: 17px; margin-left: 5px;"
					src="/image/admin-logo.png" /></a>

				<ul class="right hide-on-med-and-down">
					<li><a class='right dropdown-button' href=''
						data-activates='user_dropdown'><i class=' material-icons'>account_circle</i></a>
					</li>
				</ul>

				<a href="#" data-activates="slide-out" class="button-collapse"><i
					class="mdi-navigation-menu"></i></a>
			</div>
		</nav>

		<nav th:insert="${nav} ?: ~{}">
			<div class="nav-wrapper indigo darken-2">
				<a style="margin-left: 20px;" class="breadcrumb" href="#!">Admin</a>
			</div>
		</nav>

	</header>

	<main th:insert="${mainContent} ?: ~{}">Content</main>

	<footer class="indigo page-footer">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h5 class="white-text">Admin Dashboard</h5>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				<span>Made By <a style='font-weight: bold;'
					href="https://github.com/piedcipher" target="_blank">Thùy Trang</a></span>
			</div>
		</div>
	</footer>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
	<th:block th:replace="${resourceFooter} ?: ~{}"></th:block>
</body>
</html>